table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 0 auto;
}

td {
  border: 1px solid#555;
  width: 2em;
  height: 2em;
  text-align: center;
  outline: 3px solid transparent;
}

.highligted{
  /* box-shadow: 0 .125rem .25rem rgba(0,0,0,.075); */
  border-width:3px;
}